<div class="overflow-hidden" style="height: 900px" >
  <div class="flex justify-center">
    <a
    href="#servicios"
      class="rounded-full text-black bg-white border absolute self-center top-1/2 px-16 py-6 hover:bg-slate-200 hover:text-black hover:-translate-y-1 ease-in-out duration-200 select-none"
    >
      Contrata nuestros servicios
    </a>
  </div>
  <div class="bg-stone-950" style="height: 900px">
    <video
      src="/videos/videoLogistica.mp4"
      muted=""
      playsinline=""
      autoplay=""
      loop=""
      style="pointer-events: none;"
      class="w-screen"></video>
  </div>
</div>
